@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    td,
    th {
        padding: 8px 12px;
    }

    th {
        font-weight: 500;
    }
}

@layer components {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

#calories-bar[value]::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#calories-bar[value]::-webkit-progress-value {
    border-radius: 10px;
    background-color: #9a758d;
}
